
body {
	color: #030303;
	margin: 0;
}
header {
	color: #0a0a0a;
	font-family: "Playfair Display", serif;
	font-style: italic;
	line-height: 10px;
	padding: 16px;
	padding-top: 40px;
}
h1 {
	font-size: 70px;
	font-family: "Helvetica";
	font-weight: bold;
	font-style: normal;
}
h2 { 
	font-size: 108px;
}
#titlecontinue {
	font-size: 36px;
	padding-bottom: 16px;
}
h3 {
	font-size: 20px;
	font-family: "Helvetica";
	font-weight: bold;
	font-style: normal;
}
#nextarticle {
	font-size: 36px;
	font-family: "Helvetica";
	font-weight: bold;
	font-style: italic;
	line-height: 165%;
}
#readnexttext {
	font-size: 30px;
}
.readnext {
	margin-top: 50px;
	margin-bottom: 200px;
	margin: 16px;
}

article {
	margin-top: 16px;
	margin-bottom: 10px;
	font-size: 16px;
	font-family: "Merriweather Sans", serif;
	font-weight: 350;
	line-height: 170%;
}
.bigtext1 {
	font-size: 26px;
	line-height: 180%;
}
p {
	margin: 16px;
}
.withbackground {
	background-color: #D9D9D9;
	padding-bottom: 20px;
	padding-top: 20px
	
}
section {
	margin-bottom: 10px;
}



