
body {
	color: #030303;
}
header {
	color: #0a0a0a;
	font-family: "Playfair Display", serif;
	font-style: italic;
	line-height: 10px;
	padding: 10px;
	padding-top: 40px;
}
h1 {
	font-size: 70px;
	font-family: "Helvetica";
	font-weight: bold;
	font-style: normal;
}
h2 { 
	font-size: 108px;
}
#titlecontinue {
	font-size: 36px;
	padding-bottom: 16px;
}
h3 {
	font-size: 20px;
	font-family: "Helvetica";
	font-weight: bold;
	font-style: normal;
}

article {
	margin: 12px;
	margin-top: 40px;
	margin-bottom: 10px;
	font-size: 16px;
	font-family: "Merriweather Sans", serif;
	font-weight: 350;
	line-height: 170%;
}
.bigtext1 {
	font-size: ;
}
footer {
	background-color: #e3e3e3;
	padding-bottom: 60px;
	padding-left: 8px;
}
.authorfooter {
	font-size: 32px;
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	color: #181818;
	line-height: 10px;
}
.footer {
	font-size: 18px;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	color: #e3e3e3;
}



