/* root variables */
:root {
    --root-size: 8px;
    --root-size-nav: 8px;
    --root-size-big: 16px;
    --root-size-h1: 21px;
    --root-size-sub: 21px;
    --root-size-h2: 46px;
    --root-size-h3: 14px;
    --root-size-h: 14px;
    --root-line-height: 20px;
    --padding-left: 8px;
    --width-p: 21ch;
	--width-p-colophon: 30ch;
    --padding-left-p: 8px;
    --padding-left-sticky: 6px;
    --margin-p-left: 8px;
	--margin-colophon: 4px;
    --margin-p-right: 8px;
	--p-margin-side: 2%;
	--p-margin-intropa: 2%;
}
/* this line of code makes the text animation not overflow */
.headcontainer {
	overflow: hidden;
	max-height: 450px;
}
.titlebig {
	z-index: 100;
	position:relative;
}
.maindivhead {
	padding-top: 0;
	margin-top: 0;
}

/* For both mobile and web */
#linksbig {
	display: grid;
	overflow: hidden;

}

.titlebig {
	padding-top: 30px;
	padding-left: 0px;
	background-color: #121313;
}

.maindivhead {
	z-index: 500;
	position: relative;
}

.otherh1 {
font-family: "Oxanium", serif;
 color: #f1f1f1;
 font-size: 60px;
 padding-left: 30px;
 padding-bottom: 12px;
}

#titlebelow {
	padding-bottom: 50px;
}

header {
	color: #A4A4A4;
	/* padding: 16px; */
	line-height: 120px;
	padding-top: 40px;
	padding-bottom: 110px;
	position: relative;
}
.darkrectangle {
	/* padding: 80px; */
	background-color: #121313;
	position:absolute;
	z-index: 700;
	width: 100%;
}
.headcontainer {
	overflow: hidden;
	background-color:  #121313;
}
header {
	transform: rotate(-24deg);
}
body {
	background-color:#121313;
	position: relative;
	padding-bottom: 0%;
}

.sticky1 {
	width: 100%;
	color: #e4e4e4;
	background-color:#121313;
	border-bottom: 2px solid #040404;
	border-top: 2px solid #040404;
	top: 0;
	position: sticky;
	z-index: 700;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: calc(var(--padding-left-sticky) * 1);
}
article {
	padding-bottom: 0%;
}
h1 {
	font-family: "Oxanium", serif;
	color: #0e0e0e;
	font-size: 80px;
	font-style: normal;
	font-weight: bolder;
	stroke: rgb(255, 255, 255);
	stroke-width: 2px;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	color: #000000;
	padding-left: 30px;
	font-family: "Oxanium", serif;
}
.biglinkdiv {
	background-color: #e4e4e4;
	border-top: 4px solid #0c0c0c;
	padding-top: 15px;
	padding-bottom: 15px;
	width: auto;
}

.colophon {
	background-color: #AD8AFF;
	margin-bottom: -40px;
	margin-left: calc(var(--margin-colophon) * 2);
	margin-right: calc(var(--margin-colophon) * 2);
	padding-bottom: 30px;
	padding-top: 30px;
	width: auto;
	filter: hue-rotate(-70deg) drop-shadow(8px 8px #AD8AFF);
}
.colophonparagraph {
	width: calc(var(--width-p-colophon) * 2);
}
#subtitle {
	font-family: "Oxanium", serif;
	font-size: 17px;
	font-weight: 700;
	text-align: center;
}

.headertext {
	display:inline;
	white-space: nowrap;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.crimeanimatedtextred {
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	background-color:#FE5B51;
	color: #161616;
	margin-bottom: 8px;
}
.disciplineanimatedtextpurple {
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	background-color:#AD8AFF;
	color: #161616;
	margin-bottom: 8px;
}
.disciplineanimatedtext {
	padding-top: 10px;
	background-color:#202020;
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 8px;
}
.crimeanimatedtext {
	padding-top: 10px;
	background-color:#202020;
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 8px;
}
.crime {
	color:#2c2c2c;
	display: flex;
	-webkit-animation: loop 16s infinite linear;
	animation: loop 16s infinite linear;
	white-space: nowrap;
}
.factoryanimatedtext {
	background-color:#202020;
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 8px;
}
.factoryanimatedtextyellow {
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	background-color:#FACA01;
	color: #131313;
	margin-bottom: 8px;
}
.evolutionanimatedtextblue {
	background-color: #51C4FE;
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 8px;
	color: #131313;
}
.evolutionanimatedtext {
	background-color:#202020;
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 8px;
}
.factory {
	display: flex;
	-webkit-animation: loop 18s infinite linear;
	animation: loop 18s infinite linear;

}
.discipline {
	display: flex;
	-webkit-animation: loop 10s infinite linear;
	animation: loop 10s infinite linear;
}
footer {
	background-color: #121313;
	padding-top: 40px;
	padding-bottom: 40px;
	font-family: "Oxanium", serif;
	font-weight:600;
	font-size: calc(var(--root-size) * 2.5);
}
h5 {
	color: #A4A4A4;
	padding-bottom: 50px;
	text-align: center;
}
/* animation for the text */
@keyframes loop {
	100% {
	  -webkit-transform: translateX(-100%);
	  transform: translateX(-100%);
	}
  }


#crime {
	color: #FE5B51;
}
#factory {
	color: #FACA01;
}
#discipline {
	color: #AD8AFF;
}

mark {
    background-color: #9166f5;
}
a:hover {
    color: #9166f5;
}
h3 {
	font-family: "Oxanium", serif;
	font-weight: bold;
	line-height: 145%;
	font-size: calc(var(--root-size-h3) * 2);
    padding-left: calc(var(--padding-left-sticky) * 3);
	width: auto;
}
article {
	margin-top: 0;
	background-color: #e4e4e4;
}
section {
	padding-bottom: 40px;
	padding-top: 40px;
}

#bee {
	font-size: 24px;
	font-weight: 500;
	color: #d7d8de;
	/* background-color: #e4e4e4; */
	border: 1.5px solid #AD8AFF;
	padding: 10px;
	width: 14ch;
	/* border-radius: 20px; */
	margin-left: 10px;
	text-align: center;
	margin-left: 30px;
	
}
p {
	width: auto;
	font-size: calc(var(--root-size) * 2);
	margin-left: calc(var(--p-margin-side) * 3);
	margin-right: calc(var(--p-margin-side) * 3);
	margin-bottom: 30px;
	line-height: 190%;
}
section {
	padding-top: 60px;
	padding-bottom: 30px;
}
.colophonparagraph {
	width: auto;
	font-size: calc(var(--root-size) * 2);
	margin-left: calc(var(--p-margin-intropa) * 2);
	margin-right: calc(var(--p-margin-intropa) * 2);
	line-height: 175%;
}

/* Desktop media query */
@media (min-width: 950px) {
    :root {
        --root-size: 9px;
        --root-size-nav: 12px;
        --padding-left: 50px;
        --root-size-big: 16px;
        --root-size-h1: 32px;
        --root-size-sub: 32px;
        --root-size-h2: 50px;
        --root-size-h3: 16px;
        --padding-left-p: 50px;
        --width-p: 40ch;
		--margin-colophon: 170px;
		--width-p-colophon: 20ch;
		--p-margin-side: 9%;
		--padding-left-sticky: 100px;
	}

	.titlebig {
		width: 100%;
	}
	.headcontainer {
		width: 130%;
		max-height: 780px;
		padding-bottom: 200px;
		border-right: 1.5px solid #AD8AFF;
		}
	
	.otherh1 {
		padding-bottom: 40px;
			}
	.maindivhead {
		display: flex;
		z-index: 600;
		position: relative;
		border-bottom: 1.5px solid #AD8AFF;
	}
	#titlebelow {
		padding-bottom: 208.5px;
		line-height: 24px;
		padding-top: 40px;
	}
	.biglinkdiv {
		width: auto;
		padding-top: 50px;
	}
	.sticky1 {
		
		border-bottom: 1.5px solid #080808;
		border-top: 1.5px solid #080808;
	}
	
	a:hover {
		color: #AD8AFF;
	  }
}