/* root variables */
:root {
    --root-size: 8px;
    --root-size-nav: 8px;
    --root-size-big: 16px;
    --root-size-h1: 21px;
    --root-size-sub: 21px;
    --root-size-h2: 46px;
    --root-size-h3: 14px;
    --root-size-h: 14px;
    --root-line-height: 20px;
    --padding-left: 8px;
    --width-p: 21ch;
    --padding-left-p: 8px;
    --padding-left-sticky: 8px;
    --margin-p-left: 8px;
    --margin-p-right: 8px;
}
/* this line of code makes the text animation not overflow */
.headcontainer {
	overflow: hidden;
	max-height: 450px;
}
.titlebig {
	z-index: 100;
	position:relative;
}
.maindivhead {
	padding-top: 0;
	margin-top: 0;
}
.titlebelow {
	opacity: 12%;
	filter: blur(3px);
}


/* Desktop media query */
@media (min-width: 950px) {
    :root {
        --root-size: 10px;
        --root-size-nav: 12px;
        --padding-left: 50px;
        --root-size-big: 16px;
        --root-size-h1: 32px;
        --root-size-sub: 32px;
        --root-size-h2: 50px;
        --root-size-h3: 16px;
        --padding-left-p: 50px;
        --width-p: 40ch;
	}
	.headcontainer {
	overflow: hidden;
	width: 60%;
	padding-bottom: 120px;
	border-right: 2px solid #ffffff;
	}
	.maindivhead {
		display: flex;
		z-index: 600;
		position: relative;
	}
	.sticky1 {
		padding-left: 85px;
	}
	p {
		margin: auto;
		width: calc(var(--width-p) * 1.7);
		font-size: calc(var(--root-size) * 2);
		line-height: 170%;
		padding-top: 30px;
	}
}

/* For both mobile and web */
#linksbig {
	display: grid;
	overflow: hidden;
}

.titlebig {
	padding-top: 30px;
	padding-left: 0px;
	background-color: #131313;
}
header {
	padding: 70px;
}
.maindivhead {
	z-index: 500;
	position: relative;
}

.otherh1 {
font-family: "Oxanium", serif;
 color: #f1f1f1;
 font-size: 60px;
 padding-left: 30px;
 padding-bottom: 40px;
}


header {
	color: #A4A4A4;
	padding: 16px;
	line-height: 120px;
	padding-top: 40px;
	padding-bottom: 110px;
	position: relative;
}
.darkrectangle {
	padding: 80px;
	background-color: #1A1A1A;
	position:absolute;
	z-index: 700;
	width: 100%;
}
.headcontainer {
	overflow: hidden;
	background-color:  #1A1A1A;

}
header {
	transform: rotate(-24deg);
}
body {
	background-color:#1A1A1A;
	position: relative;
	padding-bottom: 0%;
}

.sticky1 {
	width: 100%;
	color: #e4e4e4;
	background-color:#1A1A1A;
	border-bottom: 2px solid #000000;
	border-top: 2px solid #000000;
	top: 0;
	position: sticky;
	z-index: 300;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 8px;
}
article {
	padding-bottom: 0%;
}
h1 {
	font-family: "Zilla Slab Highlight", serif;
	color: #373737;
	font-size: 90px;
	font-style: normal;
	font-weight: bolder;
	stroke: rgb(255, 255, 255);
	stroke-width: 2px;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	color: #000000;
	padding-left: 30px;
	font-family: "Oxanium", serif;
}
.biglinkdiv {
	background-color: #e4e4e4;
	border-bottom: 2px solid #0c0c0c;
	border-top: 2px solid #0c0c0c;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 400px;
}
/* #AD8AFF */
#designcrimelink {
	border-bottom: 4px solid #FE5B51;
}
#factorylink {
	border-bottom: 4px solid #FACA01;
}
#disciplinelink {
	border-bottom: 4px solid #AD8AFF;
}

.colophone {
	background-color: #AD8AFF;
	margin-bottom: 200px;
	margin: 20px;
	
}
.container-text {
	display: flex;
	color: #f1f1f1;
	justify-content: center;
	margin-top: 20px;
	border-left: 2px solid #cacaca;
	align-items: center;
	margin-right: 40px;
	height: 54px;
}

#subtitle {
	font-family: "Oxanium", serif;
	font-size: 17px;
	font-weight: 700;
	text-align: center;
}

.headertext {
	display:inline;
	white-space: nowrap;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.crime {
	display: flex;
	gap: 20px;
	-webkit-animation: loop 16s infinite linear;
	animation: loop 16s infinite linear;
	white-space: nowrap;
}
.factory {
	display: flex;
	gap: 20px;
	-webkit-animation: loop 18s infinite linear;
	animation: loop 18s infinite linear;

}
.discipline {
	display: flex;
	gap: 20px;
	-webkit-animation: loop 10s infinite linear;
	animation: loop 10s infinite linear;
}
/* animation for the text */
@keyframes loop {
	100% {
	  -webkit-transform: translateX(-100%);
	  transform: translateX(-100%);
	}
  }


#crime {
	color: #FE5B51;
}
#factory {
	color: #FACA01;
}
#discipline {
	color: #AD8AFF;
}

mark {
	background-color: #AD8AFF;
}
#arrow {
	color: rgb(32, 32, 32);
	background-color: rgb(255, 255, 255);
	border: #0a0a0a;
	border-style: inset;
	border-radius: 8px;
	font-size: 24px;
	font-weight: bold;
	padding: 10px;
	bottom: 90px;
	left: 314px;
	right: 10px;
	z-index: 100;
	position: fixed;
}

h3 {
	font-family: "Oxanium", serif;
	font-weight: bold;
	line-height: 145%;
	font-size: calc(var(--root-size-h3) * 1.5);
    padding-left: calc(var(--padding-left-sticky) * 2);
}
article {
	margin-top: 0;
	background-color: #e4e4e4;
}
section {
	padding-bottom: 40px;
	padding-top: 40px;
}