header {
	color: #0a0a0a;
	font-family: "Helvetica";
	font-weight: bold;
	line-height: 24px;
	padding: 16px;
	padding-top: 40px;
}

h1 {
	font-size: 80px;
}
h2 { 
	font-size: 80px;
}
#titlecontinue {
	font-size: 41.5px;
	padding-bottom: 16px;
	font-family: "Oxanium", sans-serif;
	font-style: normal;
}
h3 {
	font-size: 20px;
	font-family: "Helvetica";
	font-weight: bold;
	font-style: normal;
}
