 /* variables */
:root {
		--root-size: 16px;
		--header-background-color:#ffffff; 
		--footer-background-color: #0b0b0a;
	--footer-text-color-yellow: #FFC72C;
	--footer-color: #f7f7f5;
	--article-padding-bottom: 30px;
	--footer-padding: 20px;
	--footer-padding-left: 16px;
	--root-size-h1: 16px;
	--root-size-h3: 16px;
	--root-h2-size: 16px;
	--footer-font-size: 22px;
	--flex-container-padding-left: 1px;
	--flex-container-padding-right: 1px;
	--article-margin: 15px;
	--padding-top: 26px;
	--padding-links-right: 1px;
	--padding-top-footer: 20px;
	--padding-bottom: 20px;
	--padding-bottom-header: 20px;
	--padding-left: 5.25px;
	--line-height: 140%; 
	--margin-right-link: 10px;
	--margin-left-links: 4px;
	--margin-top-author: 35px;
	--section-margin-bottom: 70px;
	--margin-top-section: 20px;
}

body {
	color: #030303;
	margin: 0;
}
article {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 16px;
	font-family: "Merriweather Sans", serif;
	font-weight: 350;
	line-height: 170%;
}
section {
	padding-top: 40px;
}
.topspace {
	padding-top: 40px;
}
 /* big paragraphs */
.bigtext1 {
	font-size: 24px;
	line-height: 180%;
}
p {
	margin: 16px;
}
 /* sections with background color */
.withbackground {
	background-color: #D9D9D9;
	padding-bottom: 20px;
	padding-top: 20px
	
}
 /* Next article's name */
#nextarticle {
	font-size: 36px;
	font-family: "Helvetica";
	font-weight: bold;
	font-style: italic;
	line-height: 165%;
}
 /* Subtitle that says Read next */
#readnexttext {
	font-size: 30px;
}
 /* Read next section */
.readnext {
	margin: 16px;
	margin-top: 40px;
	margin-bottom: 100px;
	
}
sup {
	line-height: 0;
}

header {
	color: #0a0a0a;
	font-family: "Helvetica";
	font-weight: bold;
	line-height: 16px;
	padding: 16px;
	padding-top: 40px;
}

h1 {
	font-size: 42px;
}
h2 { 
	font-size: 92px;
}
#titlecontinue {
	font-size: 65.5px;
	font-family: "Oxanium", sans-serif;
	font-style: normal;
}
h3 {
	font-size: 28px;
	font-family: "Helvetica";
	font-weight: bold;
	font-style: normal;
	line-height: 120%;
	margin-left: 16px;
}
h4 {
	font-size: 28px;
	margin-left: 16px;
	line-height: 145%;
}
 /* Author's name and year */
#author {
	font-size: 17px;
	margin-left: 0;
}
 /* Navbar at the bottom */
#navbar {
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	position: fixed;
	background-color: #ffffff;
	border-top: #0a0a0a;
	border-style: inset;
	font-family: 'Helvetica';
  }
 /* Links within the navbar at the bottom */
  a {
	float: left;
	display: block;
	text-align: center;
	padding: 16px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #0a0a0a;
	font-size: 18px;
	font-weight: 550;
	text-decoration: none;
  }
 /* Arrow button to the top */
#arrow {
	color: rgb(32, 32, 32);
	background-color: rgb(255, 255, 255);
	border: #0a0a0a;
	border-style: inset;
	border-radius: 8px;
	font-size: 24px;
	font-weight: bold;
	padding: 10px;
	bottom: 90px;
	left: 314px;
	right: 10px;
	z-index: 100;
	position: fixed;
}
 /* Sticky titles */
.stickytitle {
	background-color: #c5c5c5;
	border-bottom: 2px solid #000000;
	border-top: 2px solid #000000;
	position: sticky;
	top: 0;
	z-index: 1;
	padding-top: 0.5px;
	padding-bottom: 0.2%;

}
.stickytitle2 {
	border-bottom: 2px solid #000000;
	border-top: 2px solid #000000;
	position: sticky;
	top: 0;
	z-index: 4;
	background-color: #c5c5c5;
	padding-top: 0.5px;
	padding-bottom: 0.2%;
}
.stickytitle3 {
	border-bottom: 2px solid #000000;
	border-top: 2px solid #000000;
	position: sticky;
	top: 0;
	z-index: 5;
	background-color: #c5c5c5;
	padding-top: 0.5px;
	padding-bottom: 0.2%;
}
.stickytitle4 {
	border-bottom: 2px solid #000000;
	border-top: 2px solid #000000;
	position: sticky;
	top: 0;
	z-index: 6;
	background-color: #c5c5c5;
	padding-top: 0.5px;
	padding-bottom: 0.2%;
}
.stickytitle5 {
	border-bottom: 2px solid #000000;
	border-top: 2px solid #000000;
	position: sticky;
	top: 0;
	z-index: 8;
	background-color: #c5c5c5;
	padding-top: 0.5px;
	padding-bottom: 0.2%;
}
 /* Sections with the sticky */
.frontsection {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #D9D9D9;
	position: relative;
 	z-index: 3;
}
.normal {
	
}
.frontsection2 {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #D9D9D9;
	position: relative;
 	z-index: 5;
}
.frontsection3 {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ffffff;
	position: relative;
 	z-index: 7;
}
 /* Subheading for the "An Alternative Disciplinary" title */
#subtitle-alternative {
	font-size: 20px;
}
 /* Conclusion's paragraph */
#lastparagraph {
	margin-bottom: 40px;
}




