
header {
	color: #0a0a0a;
	font-family: "Helvetica";
	font-weight: bold;
	line-height: 16px;
	padding: 16px;
	padding-top: 40px;
}

h1 {
	font-size: 42px;
}
h2 { 
	font-size: 92px;
}
#titlecontinue {
	font-size: 65.5px;
	font-family: "Oxanium", sans-serif;
	font-style: normal;
}
h3 {
	font-size: 28px;
	font-family: "Helvetica";
	font-weight: bold;
	font-style: normal;
	line-height: 120%;
	margin-left: 16px;
}
h4 {
	font-size: 28px;
	margin-left: 16px;
	line-height: 145%;
}
#author {
	font-size: 17px;
	margin-left: 0;
}
#navbar {
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	position: fixed;
	background-color: #ffffff;
	border-top: #0a0a0a;
	border-style: inset;
	font-family: 'Helvetica';
  }

  a {
	float: left;
	display: block;
	text-align: center;
	padding: 16px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #0a0a0a;
	font-size: 18px;
	font-weight: 550;
	text-decoration: none;
  }
#arrow {
	color: rgb(32, 32, 32);
	background-color: rgb(255, 255, 255);
	border: #0a0a0a;
	border-style: inset;
	border-radius: 8px;
	font-size: 24px;
	font-weight: bold;
	padding: 10px;
	bottom: 90px;
	left: 314px;
	right: 10px;
	z-index: 100;
	position: fixed;
}
.stickytitle {
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: #c5c5c5;
	padding-top: 0.5px;
	padding-bottom: 0.2%;
	border-bottom: #0a0a0a;
	border-style:outset;
}
.stickytitle2 {
	position: sticky;
	top: 0;
	z-index: 4;
	background-color: #c5c5c5;
	padding-top: 0.5px;
	padding-bottom: 0.2%;
	border-bottom: #0a0a0a;
	border-style: solid;
}
.stickytitle3 {
	position: sticky;
	top: 0;
	z-index: 5;
	background-color: #c5c5c5;
	padding-top: 0.5px;
	padding-bottom: 0.2%;
	border-bottom: #0a0a0a;
	border-style: solid;
}
.stickytitle4 {
	position: sticky;
	top: 0;
	z-index: 6;
	background-color: #c5c5c5;
	padding-top: 0.5px;
	padding-bottom: 0.2%;
}
.stickytitle5 {
	position: sticky;
	top: 0;
	z-index: 8;
	background-color: #c5c5c5;
	padding-top: 0.5px;
	padding-bottom: 0.2%;
}
.frontsection {
	background-color: #ffffff;
	position: relative;
 	z-index: 3;
}
.frontsection2 {
	background-color: #ffffff;
	position: relative;
 	z-index: 5;
}
.frontsection3 {
	background-color: #ffffff;
	position: relative;
 	z-index: 7;
}
#subtitle-alternative {
	font-size: 20px;
}

