
body {
	color: #111111;
}
header {
	background-color: #181314;
	padding-left: 10px;
	padding-bottom: 20px;
	padding-top: 40px;
	font-family: "Limelight", sans-serif;
	line-height: 90px;
}
#deco {
	color: rgb(222, 53, 27);
}
#invisible {
	font-family: "Londrina Shadow", sans-serif;
	font-size: 100px;
	color: #ffffff;
}
h1 {
	font-size: 40px;
	color: #e4e4e4;
	line-height: 90px;
}
h2 {
	font-size: 24px;
}
article {
	margin: 10px;
	margin-top: 40px;
	font-family: "Raleway", sans-serif;
}
p {
	font-size: 16px;
	line-height: 172%;
	margin-bottom: 40px;
}
h3 {
	font-family: "Limelight", sans-serif;
	margin-bottom: 20px;
	font-size: 28px;
}
h4 {
	font-size: 18px;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	color: #616161;
	margin-bottom: 18px;
}
.articlesection {
	border: #111111;
	border-style: dashed;
	border-radius: 12px;
	padding: 10px;

}

section {
	margin-bottom: 30px;
}
#circle {
	color: rgb(222, 53, 27);
}
.flex-container {
	justify-content: space-evenly;
	padding:5px;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color:  rgb(33, 6, 2);
	border-top: #dfdfdf;
	border-style: dashed;
	flex-direction: row;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
a {
	margin-right: 26px;
	color: rgb(241, 241, 241);
	font-family: "Limelight", sans-serif;
	font-weight: 400;
	font-size: 16px;
}

footer {
	color: #e4e4e4;
	background-color: #181314;
	margin: 0;

}