
#war {
	font-size: 100px;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
}
#on {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 64px;
}
#deco {
	font-family: "Arizonia", cursive;
	font-size: 122px;
	color: #CF9B0C;
}
h1 {
	line-height: 80px;
}
h2 { 
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight:500;
	color: #A1A1A1;

}
header {
	margin-top: 48px;
	margin-left: 8px;
	margin-bottom: 30px;
	line-height: 10px;
}
.flex-container {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight:500;
}


body {
	background-color: #FAFAFA;
	color: #1E1D1D;
}