
#war {
	font-size: 100px;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
}
#on {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 64px;
}
#deco {
	font-family: "Arizonia", cursive;
	font-size: 122px;
	color: #CF9B0C;
}
h1 {
	line-height: -50%;
}


body {
	background-color: #FAFAFA;
	color: #1E1D1D;
}