
#war {
	font-size: 100px;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
}
#on {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 64px;
}
#deco {
	font-family: "Playfair Display", serif;
	font-style: italic;
	font-weight: 600;
	font-size: 102px;
	color: #241c07;
}
h1 {
	line-height: 80px;
	color: #cc3d3d;
}
h2 { 
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight:500;
	color: #777777;

}
header {
	padding-top: 48px;
	padding-left: 8px;
	padding-bottom: 30px;
	line-height: 10px;
	background-color: #eee8df;
}
.flex-container {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight:600;
	background-color: #FAFAFA;
	border-top: #1E1D1D;
	border-bottom: #1E1D1D;
	border-style: inset;
	padding-top: 16px;
	padding-bottom: 16px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
a {
	margin-right: 12px;
}

a :first-child  {
	margin-left: 8px;
}

body {
	background-color: #FAFAFA;
}
h3 {
	font-family: "Montserrat", sans-serif;
	font-weight: 650;
	font-size: 32px;
	color: #CF9B0C;
	margin-bottom: 20px;
}
article {
	margin: 8px;
	margin-top: 40px;
	margin-bottom: 80px;
	font-size: 16px;
	font-family: "Merriweather Sans", sans-serif;
	font-weight: 350;
}
p {
	line-height: 175%;
	margin-bottom: 40px;
}

.footer {
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	color: #777777;
}
.authorfooter {
	font-size: 32px;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	color: #1E1D1D;
}
footer {
	border-top: #1E1D1D;
	border-style: inset;
	line-height: 0px;
	padding-bottom: 30px;
	padding-left: 8px;
}