
body {
	color: #111111;
}
header {
	background-color: #C14E50;
	padding-left: 10px;
	padding-bottom: 20px;
	padding-top: 40px;
	font-family: "Limelight", sans-serif;
	line-height: 90px;
}
#war {
	font-family: "Merriweather Sans", sans-serif;
	font-weight: 700;
	font-size: 90px;
}
h1 {
	font-size: 80px;
}
h2 {
	font-size: 24px;
}
article {
	margin: 10px;
	margin-top: 40px;
	font-family: "Raleway", sans-serif;
}
p {
	font-size: 16px;
	line-height: 172%;
	margin-bottom: 40px;
}
h3 {
	font-family: "Limelight", sans-serif;
	margin-bottom: 20px;
	font-size: 24px;
}